<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<springProperty scope="context" name="LOGS_DIR" source="wirecard.dir.logging"/>
	<property name="LOG_NAME" value="wirecard_reports"/>
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	        <level>DEBUG</level>
	    </filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d %p %C [%t] %m%n</Pattern>
		</layout>
	</appender>

	<appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	        <level>DEBUG</level>
	    </filter>
		<file>${LOGS_DIR}/${LOG_NAME}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d %p %C [%t] %m%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_DIR}/archived/${LOG_NAME}-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<appender name="ROLLINGFILE_FULL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_DIR}/${LOG_NAME}_full.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d %p %C [%t] %m%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_DIR}/archived/${LOG_NAME}_full-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!-- If not set to TRACE, logger level of "com.pc" with TRACE will not be printed to ROLLINGFILE_FULL -->
	<logger name="com.pc" level="TRACE" additivity="true">
		<appender-ref ref="ROLLINGFILE" />
		<appender-ref ref="CONSOLE" />		
	</logger>

	<root level="TRACE">
		<!-- <appender-ref ref="ROLLINGFILE_FULL"/> remove for now -->
	</root>

</configuration>